<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="/Log/internal-nlog.txt">
  <!--define various log targets-->
  <targets name="NLog"  async="true">
    <!--write logs to file-->
    <target xsi:type="File" name="ToFile" fileName="Log/${date:yyyy-MM}/${level}/${shortdate}.txt"
             layout="${longdate}:${message} ${exception}" />
    <target xsi:type="Database"
        name="DatabaseFile"
        connectionString="Server=103.21.143.250;Database=HardwareMall;User ID=sa;Password=091019100;">
      <commandText>
        Insert into M_ManageLog(LogContent,LogLevel,CreateTime) Values(@content,@level, getdate());
      </commandText>
      <parameter name="@content" layout="${message}" />
      <parameter name="@level" layout="${level}" />
    </target>
  </targets>
  <rules>
    <logger name="FileLog" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="ToFile"/>
    <logger name="DatabaseLog" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="DatabaseFile"/>
  </rules>
</nlog>