
@{
    @using HardwareMall.Tool;
    ViewData["Title"] = "OtherManageEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Id = ViewData["Id"] as string;
}
<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<form class="layui-form" id="formAdvForm" lay-filter="formAdvForm">
    <input name="Id" type="hidden" value="@Id" />

    <div class="layui-fluid" style="padding-bottom: 75px;">
        <div class="layui-card">
            <div class="layui-card-header">内容信息</div>
            <div class="layui-card-body">
                <input name="type" type="hidden" />
                <div class="layui-form-item layui-row">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label layui-form-required">标题:</label>
                        <div class="layui-input-block">
                            <input name="title" placeholder="请输入标题" class="layui-input"
                                   lay-verType="tips" />
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label layui-form-required">标题图片:</label>
                        <div class="layui-input-block">
                            <button id="file-btn-upload" class="layui-btn layui-btn-sm layui-btn-normal icon-btn" type="button">
                                <i class="layui-icon">&#xe681;</i>上传文件
                            </button>
                            <div class="fileMain">

                            </div>
                            <input type="hidden" name="imgSrc" />
                            <div class="fileBox">
                                <div class="imgBox" style="width:100px;height:100px">
                                    <img id="TImg" class="tdImg" tb-img style="cursor: zoom-in" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md10">
                        <label class="layui-form-label layui-form-required">内容:</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入内容" cols="30" rows="10" class="layui-textarea"
                                      lay-verType="tips" style="height:400px"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group-bottom text-right">
        <button type="reset" class="layui-btn layui-btn-primary">&emsp;重置&emsp;</button>
        <a class="layui-btn" lay-filter="formAdvSubmit" lay-submit>&emsp;保存&emsp;</a>
    </div>

</form>
<script type="text/javascript">
    layui.use(['admin','layer', 'form', 'table', 'laydate','upload'], function () {
        var $ = layui.jquery;
        var admin = layui.admin;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var Id = $("[name=Id]").val();
        var ImgServer="@StaticString.ImgServerUrl";
        upload.render({
            elem: '#file-btn-upload',//绑定元素
            url: '/api/UploadFiles/upLoadImg?Path=OtherImg', //必填项
            method: 'POST',  //可选项。HTTP类型，默认post
            accept: 'file',
            done: function (res, index, upload) { //每个文件提交一次触发一次。详见“请求成功的回调”
                if (res.success) {
                    $("#TImg").attr("src", ImgServer + res.data);
                    $("[name=imgSrc]").val(res.data);
                }
            }
        });

        //页面加载
        if (Id!="0") {
            $.get('/api/WebManage/getOtherConfigInfo?Id=' + Id, {

            }, function (data) {
                    var Info = data.data;
                    $("#TImg").attr("src", ImgServer + Info.imgSrc);
                    form.val("formAdvForm", Info);
            }, 'json');
        };
        /* 点击图片放大 */
        $(document).off('click.tbImg').on('click.tbImg', '[tb-img]', function () {
            layer.photos({photos: {data: [{src: $(this).attr('src')}]}, shade: .1, closeBtn: true});
        });

        /* 监听表单提交 */
        form.on('submit(formAdvSubmit)', function (data) {
            var FromData = data.field;
            layer.confirm('确认要保存吗?', { btn: ['确定', '取消'] }
                , function (index) {
                    $.ajax({
                        url: '/api/WebManage/saveOtherConfig',
                        type: 'put',
                        data: JSON.stringify(FromData),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            layer.msg(res.message);
                            if (res.success) {
                                setTimeout("location.reload()", 1000);
                            }
                        }
                    });
                });
        });

    });
</script>

